fastapi
uvicorn[standard]

sqlalchemy
psycopg[binary]
alembic

pydantic
pydantic-settings

numpy
pandas
scipy
cvxpy

python-dotenv
python-multipart

# ML, NLP & RAG Vector Search
scikit-learn
pypdf
python-docx

# LLM & AI Copilot Integration
groq

pytest
httpx

